.form-container {

    background: white;
  
    padding: 25px;
  
    border-radius: 12px;
  
    box-shadow:
      0 2px 10px rgba(0,0,0,0.08);
  
  }
  
  .form-group {
  
    margin-bottom: 20px;
  
  }
  
  .form-input {
  
    width: 100%;
  
    padding: 12px;
  
    border: 1px solid #d1d5db;
  
    border-radius: 8px;
  
    outline: none;
  
    transition: 0.3s;
  
  }
  
  .form-input:focus {
  
    border-color: #dadee6;
  
  }
  
  .primary-btn {
  
    background: #2563eb;
  
    color: white;
  
    border: none;
  
    padding: 12px 20px;
  
    border-radius: 8px;
  
    cursor: pointer;
  
    transition: 0.3s;
  
  }
  
  .primary-btn:hover {
  
    background: #1d4ed8;
  
  }
  
  .danger-btn {
  
    background: #ef4444;
  
    color: white;
  
    border: none;
  
    padding: 10px 16px;
  
    border-radius: 8px;
  
    cursor: pointer;
  
  }
  
  .edit-btn {
  
    background: #10b981;
  
    color: white;
  
    border: none;
  
    padding: 10px 16px;
  
    border-radius: 8px;
  
    cursor: pointer;
  
    margin-right: 10px;
  
  }