body {

    background: #f3f4f6;
  
  }
  
  .invoice-container {
  
    max-width: 1200px;
  
    margin: 30px auto;
  
    background: white;
  
    padding: 30px;
  
    border-radius: 12px;
  
  }
  
  .invoice-header {
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    border-bottom:
      3px solid #2563eb;
  
    padding-bottom: 20px;
  
  }
  
  .invoice-logo-section {
  
    display: flex;
  
    gap: 20px;
  
    align-items: center;
  
  }
  
  .invoice-logo {
  
    width: 80px;
  
    height: 80px;
  
    border-radius: 50%;
  
    background: #2563eb;
  
    color: white;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    font-size: 40px;
  
  }
  
  .invoice-id-section {
  
    text-align: right;
  
  }
  
  .paid-badge {
  
    background: #1d4ed8;
  
    color: white;
  
    padding: 10px 20px;
  
    border-radius: 20px;
  
    font-weight: bold;
  
  }
  
  .invoice-info-grid {
  
    display: grid;
  
    grid-template-columns:
      1fr 1fr 1fr;
  
    gap: 20px;
  
    margin-top: 30px;
  
  }
  
  .invoice-card,
  .invoice-total-card {
  
    border: 1px solid #dbeafe;
  
    padding: 20px;
  
    border-radius: 10px;
  
  }
  
  .invoice-total-card {
  
    text-align: center;
  
  }
  
  .invoice-total-card h1 {
  
    color: #2563eb;
  
    margin-top: 20px;
  
  }
  
  .status-paid {
  
    background: #dcfce7;
  
    color: #15803d;
  
    padding: 5px 12px;
  
    border-radius: 20px;
  
    margin-left: 10px;
  
  }
  
  .invoice-table {
  
    width: 100%;
  
    margin-top: 40px;
  
    border-collapse: collapse;
  
  }
  
  .invoice-table thead {
  
    background: #1d4ed8;
  
    color: white;
  
  }
  
  .invoice-table th,
  .invoice-table td {
  
    padding: 15px;
  
    border: 1px solid #ddd;
  
  }
  
  .invoice-footer {
  
    margin-top: 40px;
  
    display: flex;
  
    justify-content: space-between;
  
    border-top:
      2px solid #2563eb;
  
    padding-top: 30px;
  
  }
  
  .footer-icon {
  
    font-size: 50px;
  
    color: #2563eb;
  
  }
  
  .print-btn {
  
    margin-top: 30px;
  
    background: #2563eb;
  
    color: white;
  
    border: none;
  
    padding: 12px 20px;
  
    border-radius: 8px;
  
    cursor: pointer;
  
  }
  
  @media print {
  
    .print-btn {
  
      display: none;
  
    }
  
  }